.login{
    margin-top: 10px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('https://i.pinimg.com/474x/26/c4/7c/26c47c4081bffd3f2ef183e25512be23.jpg');
    background-repeat: no-repeat;
    background-position-x:center ;
    font-family: cursive; 
}

.loginTitle{
    font-size: 50px;
}

.loginForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.loginForm label {
    margin: 10px 0;
}

.loginInput{
    width: 300px;
    padding: 10px;
    background-color: white;
    border: none;
}

.loginButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.loginRegisterButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: teal;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
}

.loginerror{
    width: 300px;
    height: 50px;
    font-size: 15px;
    background-color: tomato;
    margin-top: 15px;
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 5px;
}